.App {
  text-align: center;
  color: #747a52;
  font-weight: bold;
}

.App-link {
  color: #d9ad28;
}

form{
  margin-bottom: 20px;
}

.col {
  border: 2px solid #c5dacd;
  background-color: #c5dacd;
  color: #747a52;
  border-radius: 5px;
  text-align: left;
  margin:10px;
  padding: 10px;
}

.row{
  margin: 10px;
}

.tip-header {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d9ad28;
  font-weight: bold;
  padding: 10px;

}

.header-wrapper {
  position: relative;
  background: url(cap.PNG) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}